<!DOCTYPE html>
<html lang="en">
<head>
    <title>TheDuskBrewery</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/us.css">
    <link rel="stylesheet" href="/stylesheets/media.css">
</head>
<body>
    <header>
        <div class="center-header">
                <a id="logo" href="/"><h1>The Dusk Brewery</h1></a>
                <ul class="menu">
                    <li><a href="/us">About us</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
        </div>
    </header>
    <img src="/4ppl.png">
    <div id="center">
        <p>
            Beer, beer and beer!<br>
            We know that beer makes you as happy as beer makes us happy.<br>
            So we are a group of freshers, who have developed this idea of the exclusive Dusk Brewery club in the lockdown.<br>
            We wanted to create something that everyone loves!<br>
            That’s why, we’ll make sure that nobody will be disappointed after visiting our website.<br>
            For further enquiries about us please check below.<br>
        </p>

    </div>

    <footer>
        <table id= "social">
            <th><a href="https://web.whatsapp.com/" target="_blank"><img src="/WhatsApp-Emblem.png"></a></th>
            <th><a href="https://www.instagram.com/" target="_blank"><img src="/glyph-logo_May2016.png"></a></th>
            <th><a href="https://www.facebook.com/" target="_blank"><img src="/facebook--v1.png"></a></th>
            <th><a href="https://www.google.com/intl/de/gmail/about/" target="_blank"><img src="/gmail--v1.png"></a></th>
        </table>
    </footer>

    
</body>
</html>