<!DOCTYPE html>
<html lang="en">
<head>
    <title>TheDuskBrewery</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/media.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
</head>
<body>
   <div class="wrapper">
      <header>
          <div class="center-header">
                  <a id="logo" href="/"><h1>The Dusk Brewery</h1></a>
                  <ul class="menu">
                      <li><a href="/us">About us</a></li>
                      <li><a href="/login">Login</a></li>
                  </ul>
          </div>
      </header>
      <div class="content">
         <h2>Welcome to the official <b>The Dusk Brewery</b> Homepage!</h2>
         <p>We have respect for beer! <b>Have you?</b></p>
         <img src="/logo.png" alt="">
         <p>If you are here for the first time and you have an invitation card...</p>
         <p><b>...add your code here</b></p>
        <div class="mb-50">
            <input id="code-input" type = "text" name="code" placeholder="##############">
            <div><a class="link mb50" id="btn-chk">Register</a></div>
            <!-- <input class="link" id="btn-chk" type="submit" value="Registration"> -->
            <!-- <p><input type="submit" value="Go To Register"></p> -->
        </div>
         <p>Are you already <b>The Dusk Brewery</b> /TDB/ <b>club member?</b></p>
         <a class="link mb-50" href="/login">Login</a>
         <p>What is the <b>The Dusk Brewery?</b></p>
         <a class="link" href="/us">About us</a>
        <div id="joke">
            <p>If you have a bad day, read our <b>daily joke!</b></p>
        </div>
      </div><!--content-->
      <footer></footer>
   </div><!--wrapper-->

</body>
</html>
