<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TheDuskBrewery</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/stylesheets/reset.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/media.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/javascripts/main.js"></script>
    </head>
    <body>
        <div class="wrapper height-full">
            <div class="login-content">
                <header>
                    <a id="logo" href="/"><h1>The Dusk Brewery</h1></a>
                </header>
            <div class="content">
                <h2><b>login</b></h2>
                    <p><input id="login-user" type="text" placeholder="add your username"></p>
                    <p><input  id="login-pwd" type="password" placeholder="add your password"></p>
                    <p><input id="login-chkbx"type="radio" id="radio-login"><label for="radio-login"> I have respect for beer</label></p>
                    <!-- <input id="btn-login" type="submit" value="Login"> -->
                    <div><a id="btn-login" class="link mb-50" id="btn-register">Login</a></div>
                <!-- <p>Forgot your password? <a class="link-p" href="/forget">Click here</a></p> -->
                <p>Don't have an account yet? <a class="link-p" href="/us">Read more</a></p>
            </div><!--content-->
            </div><!--login-content-->
            <div class="login-img">
                <img src="/login-img.jpg" alt="">
            </div><!--login-img-->
        </div><!--wrapper-->
    </body>
</html>
