<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TheDuskBrewery</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/stylesheets/reset.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/media.css">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/javascripts/main.js"></script>
    </head>
    <body>
        <div class="wrapper height-full">
            <div class="login-content">
                <header class="register">
                    <a id="logo" href="/"><h1>The Dusk Brewery</h1></a>
                    <ul class="menu">
                        <li><a href="/login">Login</a></li>
                    </ul>
                </header>
            <div class="content">
                <h2><b>Register</b></h2>
                <div class="mb-50">
                    <input class="input-block" id="register-first" type="text" placeholder="First Name">
                    <input class="input-block" id="register-last" type="text" placeholder="Last Name">
                    <input class="input-block" id="register-user" type="text" placeholder="Username">
                    <input class="input-block" id="register-email"type="text" placeholder="Email address">
                    <input class="input-block" id="register-pwd" type="password" placeholder="Password">
                    <input class="input-block" id="register-pwd2" type="password" placeholder="Password 2">
                    <div><input id="register-chkbx"type="radio" id="radio-login"><label for="radio-login"> I have respect for beer</label></div>
                    <!-- <input class="input-block" id="btn-register" type="submit" value="Register"> -->
                    <div><a class="link mb-50" id="btn-register">Register</a></div>
                </div>
            </div><!--content-->
            </div><!--login-content-->
                <div class="login-img">
                <img src="/register-img.jpg" alt="">
            </div><!--login-img-->
        </div><!--wrapper-->
    </body>
</html>
